html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.top-drag,
.bottom-drag {
  position: absolute;

  height: 10px;
  background-color: transparent;
  pointer-events: all;
  width: 100%;
}

.top-drag {
  top: -5px;
}

.bottom-drag {
  bottom: -5px;
}

.top-drag:hover,
.bottom-drag:hover {
  cursor: ns-resize;
  background-color: red;
}

.body-drag {
  position: absolute;

  height: 100%;
  background-color: transparent;
  pointer-events: all;
  width: 100%;
  cursor: move;

  opacity: 0.2;
}

.header-buttons {
  position: absolute;
  right: 0;
  top: 0;
}
